<div class="row text-center">
  {{#each this}}
    <div class="col-sm-4">
      <div class="events">
        <p><strong class="eventText">{{name}}</strong></p>
        <img src="{{image}}" alt="{{name}}"></img>
        <ul class="list-unstyled">
          <li>
            <span class="eventText">Start Time : {{start.time}}</span>
          </li>
          <li>
            <span class="eventText">End Time : {{end.time}}</span>
          </li>
          <li>
            <span class="eventText">Capacity : {{capacity}}</span>
          </li>
          <li>
            <address>
              <strong class="eventText">{{venue.address_1}}</strong><br>
              <span class="eventText">{{venue.address_2}}</span>
              <span class="eventText">{{venue.city}}, {{venue.postal_code}}</span>
            </address>
          </li>
        </ul>
        <button class="btnEvent" onclick="window.open('{{url}}')">Register</button>
      </div>
    </div>
  {{/each}}
</div>
